@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root{
    --cabecalho: #9EA58D;
    --color: #EFE6CD;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 10px;
}

.cabecalho{
    padding: 15px;
    background-color: var(--cabecalho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.nav ul{
    list-style: none;
    display: flex;
}

.option a{
    margin: .5rem;
    padding: 0 .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

.option a:hover{
    color: var(--color);
    text-decoration: underline;   
}

#icon-menu{
    display: none;
}

.nav-hamburguer{
    width: 100%;
    display: none;
}

.menu-hamburguer{
    width: 100%;
}

.menu-hamburguer .option{
    width: 100%;
    text-align: center;
    margin: 15px;
}

@media screen and (max-width: 740px) {
    .nav{
        display: none;
    }

    #icon-menu{
        display: block;
        width: 45px;
        height: 45px;
    }
}

@media screen and (max-width: 500px){
    #logo{
        width: 275px;
    }
}

main{
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E6DFD9;
}

.container .box-apresentacao{
    font-family: "Play", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: justify;
    padding: 10px;
    width: 368px;
}

.box-apresentacao h1{
    margin: 10px 0;
}

.container .box-logo{
    padding: 10px;
}

.box-logo img{
    width: 100%;
    padding: 15px;
    filter: drop-shadow(5px 5px 7px #000000)  
}

@media screen and (min-width:700px){
    
    .container .box-apresentacao{
        font-size: 1.5rem;
        width: 500px;
    }

    .container .box-logo{
        width: 400px;
    }
}

@media screen and (min-width: 800px){
    .container{
        flex-direction: row;
        justify-content: center;
    }
}

.documentacao{
    color: #000000;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.documentacao div{
    width: 100%;
}

.documentacao h1{
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.documentacao p{
    font-size: 1.1rem;
}

.documentacao hr{
    color: #c4c4c4;
    width: 100%;
    margin: 15px 0;
}

.documentacao .box-pre{
    color: #575757;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    padding: 10px 15px 10px 5px;
    line-height: 1.5;
    margin: 10px 0px;
    width: 100%;
}

.documentacao table{
    width: 100%;
    border: 1px solid #000000;
    border-collapse: collapse;
}

.documentacao th, .documentacao td{
    border: 1px solid #000000;
    padding: 5px;
    text-align: justify;
}

.documentacao td:nth-child(1),
.documentacao td:nth-child(2)
{
    color: #ff0000;
}

.span-bold{
    font-weight: bold;
}

.documentacao a{
    text-decoration: none;
}